.list_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.items {
    list-style: none;
    width: 300px;
}

.images {
    height: 300px;
    width: 200px;
}