.btn {
    border: 1px solid #03a5fc;
    padding: 8px 25px; 
    background-color: #03a5fc;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 17px;
}

.input {
    padding: 3px;
    width: 250px;
}